%section.full-screen
  #error.error.layer
    .message
      %h2(data-dest="description") You are too far from the sensors.
      %p.instruction(data-dest="hint") Please move closer to the Kinect device.

  #loading.loading.layer
    .message
      %h2(data-dest="description") Custom

  #welcome-screen.welcome.layer
    .content
      %header.logo
        = img '/images/lion.png'
        %h1 lion there.

      %p.instruction
        Calibrate the device
        %br
        to start putting lions.

      .voice
        %span.command calibrate
        %span.helper
          say
          %i calibrate

  #calibration.calibration.layer
    .message
      .interchangeable-container
        %p.instruction.back
          Please move the cursor over
          %br
          the highlighted marker.

        .voice.front
          %span.command mark

    / markers are going to be here

  #work-area.canvas.layer

- content_for(:javascripts) do
  :coffeescript
    builder = new Kinect.ImageBuilder()
    builder.defineTemplates([
      { name: "lion", attributes: { src: "http://www.neowin.net/forum/uploads/monthly_08_2012/post-62693-0-28128000-1344526701.jpg" } }
      { name: "simba", attributes: { src: "http://www.neowin.net/forum/uploads/monthly_08_2012/post-62693-0-28128000-1344526701.jpg" } }
    ])

    model = new Kinect.Model("ws://localhost:8080")
    model.defineTypes([
      { name: "small-photo", width: 400, height: 400 }
    ])
    model.defineElements([
      { name: "lion", type: "small-photo" },
      { name: "simba", type: "small-photo" }
    ])
    model.setGutter(20)
    model.setBuilder(builder)
    model.init()